.results-page {
  .react-toggle, .react-toggle + label {
    vertical-align: middle;
    margin-bottom: 20px;
  }
  .react-toggle + label {
    margin-left: 14px;
    font-weight: normal;
  }

  .result-no-name {
    color: #898989;
  }

  .results-list {
    overflow: auto;
    max-height: calc(100vh - 134px);
    margin: 0;

  }

  .tab-content {
    margin-top: 30px;
  }

}
