.scenario-page {
  .score-slider-outer {
    text-align: center;
  }
  .jumbotron p {
    font-size: 1.2em;
    text-align: justify;
  }
}

.summary-form-disabled {
  transition: all 1s;
  filter: brightness(70%);

  opacity: 0.4;

}
