.session-page{
  .score-slider-outer {
    text-align: center;
  }
}

.nav-sidebar > li > a {
  .score-slider-outer {
    text-align: center;
    padding-left:0px;
    padding-right:1px;
    padding-top:14px;
  }
  border-bottom: 1px solid #cccccc;
}
